.navbar{
    text-transform: uppercase;
    max-width: 100%;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    background-color: rgba(0,0,0,0.7)!important;
}


.navbar-dark .navbar-nav .nav-link{
    color: white;
    /*padding-top: 1rem;*/
    
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
	color: white;
    background-color: #2196F3;
    animation: fadein .3s;

}